page-graficos {

     ion-content {    
    background-image: url(../assets/Imagenes/fondoapp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

}
