page-login {

    ion-content {    
    background-image: url(../assets/Imagenes/fondoapp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

    button[type=submit]{
    background-color: steelblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    }


    button[type=button] {
    background-color:#1a3480;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    }

  /*  input[type=text] {
    //width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    //border: 2px solid palevioletred;
    border-radius: 15px;
    color: black;
    font-size: 130%;
    font-weight: bold
    }

    input[type=password] {
    //width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    //border: 2px solid palevioletred;
    border-radius: 15px;
    color: black;
    font-size: 150%;
    font-weight: bold
    }*/

     .scroll-content {
		align-content: center;
		display: absolute;		
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

     ion-card.card {
		box-shadow: none;
		background: rgba(154, 198, 201, 0.9);
		border-radius: 5px;
	}

  a, p,
	ion-card-header.card-header {
		color: #fff!important;
		font-size: 2 em;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(60, 59, 59, 0.2);
		border: medium none;
		//height: 8px;
		width: auto;
		.text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
	}
    
  h2 {
    text-align: center;
    margin: 10px;
  }	

  form {
    margin-bottom: 20px;
    button {
      margin-top: 20px !important;
    }
    p {
      font-style: italic;
      color: red;
    }

  }

}
